<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.spring.stockCast.dto.AccountingDTO" alias="Accounting"></typeAlias>
        <typeAlias type="com.spring.stockCast.dto.AdminDTO" alias="Admin"></typeAlias>
        <typeAlias type="com.spring.stockCast.dto.ClientDTO" alias="Client"></typeAlias>
        <typeAlias type="com.spring.stockCast.dto.CustomerDTO" alias="Customer"></typeAlias>
        <typeAlias type="com.spring.stockCast.dto.OrderingDTO" alias="Ordering"></typeAlias>
        <typeAlias type="com.spring.stockCast.dto.OrderStmtDTO" alias="OrderStmt"></typeAlias>
        <typeAlias type="com.spring.stockCast.dto.ProductCategoryDTO" alias="ProductCategory"></typeAlias>
        <typeAlias type="com.spring.stockCast.dto.ProductDTO" alias="Product"></typeAlias>
        <typeAlias type="com.spring.stockCast.dto.SaleDTO" alias="Sale"></typeAlias>
        <typeAlias type="com.spring.stockCast.dto.SaleStmtDTO" alias="SaleStmt"></typeAlias>
        <typeAlias type="com.spring.stockCast.dto.StoreDTO" alias="Store"></typeAlias>
        <typeAlias type="com.spring.stockCast.dto.SaleListDTO" alias="SaleList"></typeAlias>
        <typeAlias type="com.spring.stockCast.dto.AccoListDTO" alias="AccoList"></typeAlias>
    </typeAliases>
</configuration>