<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.spring.stockCast.dto.AccountingDTO" alias="Accounting"/>
        <typeAlias type="com.spring.stockCast.dto.AdminDTO" alias="Admin"/>
        <typeAlias type="com.spring.stockCast.dto.ClientDTO" alias="Client"/>
        <typeAlias type="com.spring.stockCast.dto.ClientProductDTO" alias="ClientProduct"/> <!-- 추가 -->
        <typeAlias type="com.spring.stockCast.dto.CustomerDTO" alias="Customer"/>
        <typeAlias type="com.spring.stockCast.dto.PurchaseOrderDTO" alias="PurchaseOrder"/>
        <typeAlias type="com.spring.stockCast.dto.OrderStmtDTO" alias="OrderStmt"/>
        <typeAlias type="com.spring.stockCast.dto.ProductCategoryDTO" alias="ProductCategory"/>
        <typeAlias type="com.spring.stockCast.dto.ProductDTO" alias="Product"/>
        <typeAlias type="com.spring.stockCast.dto.SaleDTO" alias="Sale"/>
        <typeAlias type="com.spring.stockCast.dto.SaleStmtDTO" alias="SaleStmt"/>
        <typeAlias type="com.spring.stockCast.dto.StoreDTO" alias="Store"/>
        <typeAlias type="com.spring.stockCast.dto.SaleListDTO" alias="SaleList"/>
        <typeAlias type="com.spring.stockCast.dto.AccoListDTO" alias="AccoList"/>
        <typeAlias type="com.spring.stockCast.dto.AccountItemDTO" alias="AccountItem"/>
    </typeAliases>
</configuration>