/* reset.css */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ol,
  ul,
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    vertical-align: top;
  }

  :root {
    /* 컬러 */
    --color-primary: #1976d2; /* 포인트 컬러 */
    --color-secondary: #287ed8; /* 서브 컬러 */
    --color-red: #d82828;
    --color-orange: #f5b041;
    --color-black: #333333; /* 기본 텍스트 */
    --color-white: #ffffff; /* 반전 텍스트(화이트) */
    --color-gray: #aaaaaa; /* 연한 회색 텍스트 */
    --color-border: #e0e0e0; /* 선 색상 */
    --color-bg: #f0f3f7; /* 전체 배경 */

    /* 폰트 사이즈 */
    --font-size-base: 14px; /* 본문 기본 */
    --font-size-sm: 12px; /* 작은 텍스트, 설명 */
    --font-size-md: 16px; /* 일반 UI 텍스트 */
    --font-size-lg: 20px; /* 타이틀, 버튼 */
    --font-size-xl: 24px; /* 큰 제목 */

    /* 폰트 */
    --font-family-default: "Noto Sans KR", "Segoe UI", Tahoma, Geneva,
      Verdana, sans-serif;

    /* 기타 */
    --border-radius-base10: 10px;
    --border-radius-base5: 5px;
  }

  body {
    width: 100%;
    height: 100vh;
    display: flex;
    color: var(--color-black);
    background-color: var(--color-bg);
  }

  header {
    width: 220px;
    height: 100%;
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  header .logo {
    height: 10%;
  }

  header .logo img {
    width: 100%;
    padding: 10px 0;
  }

  header .admin {
    height: 10%;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-md);
  }

  header nav {
    height: 65%;
  }

  header nav > ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  header nav ul li.main-menu.on > a {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-radius: var(--border-radius-base10);
  }

  header nav ul li.main-menu > a {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-lg);
    padding: 10px;
  }

  header nav ul li.main-menu > a img {
    width: 30px;
    object-fit: cover;
  }

  header nav ul .sub-menu {
    display: none;
  }

  header nav ul .sub-menu li {
    font-size: var(--font-size-md);
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
  }

  header nav ul .sub-menu li.on {
    color: var(--color-white);
  }

  header .userContext {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: var(--font-size-md);
    color: rgba(255, 255, 255, 0.5);
  }

  header .userContext .on {
    color: var(--color-white);
  }

  /* container : 헤더 오른쪽 화면 */
  .container {
    width: calc(100% - 220px);
    padding: 50px;
  }

  /* button */
  .btn {
    padding: 5px 10px;
    font-size: var(--font-size-base);
    background-color: transparent;
    border-radius: var(--border-radius-base5);
    cursor: pointer;
    transition: 0.2s;
  }

  .btn-blue {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
  }

  .btn-blue:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  /* 발주서 진행상황 button */
  .statusBtn {
    display:inline-block;
    width:56px;
    padding: 5px;
    font-size: var(--font-size-base);
    background-color: transparent;
    border-radius: var(--border-radius-base5);
  }

  .btn-red {
    border: 1px solid var(--color-red);
    color: var(--color-red);
  }

    .btn-red:hover {
      background-color: var(--color-red);
      color: var(--color-white);
    }

 .btn-blue-b {
   background-color: var(--color-primary);
   color: var(--color-white);
 }

 .btn-red-b {
   background-color: var(--color-red);
   color: var(--color-white);
 }

 .btn-orange-b {
   background-color: var(--color-orange);
   color: var(--color-white);
 }

 /* title */
  .title-box{
   margin-bottom:30px;
   display: flex;
   flex-direction: column;
   gap: 10px;
  }

   .title-box .title{
   font-size: var(--font-size-xl);
   }

   .title-box .sub-title{
   font-size: var(--font-size-md);
   color: var(--color-gray);
   }

/* 테이블 */
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: var(--color-white);
  }

  th,
  td {
    height: 50px;
    border-bottom: 1px solid var(--color-border);
    font-size: var(--font-size-md);
  }

  th {
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-weight: bold;
  }

  /* form 태그 */
    .form-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 10px;
    }

    input[type='date'],
    input[type='text'],
    input[type="number"],
    input[readonly],
    select{
        font-size: var(--font-size-md);
        text-align: center;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 4px;
        color: var(--color-black);
        background-color: var(--color-white);
    }

    /* 달력 인풋 & 텍스트 인풋 */
    .form-container input[type='date'],
    .form-container input[type='text'] {
      padding: 10px 12px;
      border: 1px solid var(--color-border);
      border-radius: var(--border-radius-base5);
      font-size: var(--font-size-base);
    }

    /* 거래명세서 css */
    .detail-header {
         display: flex;
         justify-content: flex-end;
     }

    .clientsName{
    width:50%;
    }

    .clientsName th{
     width:25%;
    }

    /* 발주서 css */
     .orderSummary {
    margin-top: 20px;
    border: 1px solid var(--color-border);
    }

     .orderSummary th{
      width:12.5%;
     }

   .orderItems tr {
       border: 1px solid var(--color-border);
   }

   .orderItems {
       width: 100%;
       table-layout: fixed !important; /* 셀 폭 고정 */
       border: 1px solid var(--color-border);
       border-collapse: collapse;
   }

   .orderItems th,
   .orderItems td {
       border: 1px solid var(--color-border);
       text-align: center;
       vertical-align: middle;
       padding: 4px;
       overflow: hidden;        /* 내용이 넘칠 때 숨김 */
       text-overflow: ellipsis; /* 넘친 텍스트 '...' 표시 */
       white-space: nowrap;     /* 줄바꿈 방지 */
   }

   /* orderItems 고정 폭 설정 */
   .orderItems th:nth-child(1),
   .orderItems td:nth-child(1) {
       width: 50px;  /* 체크박스 */
   }

   .orderItems th:nth-child(2),
   .orderItems td:nth-child(2) {
       width: 200px; /* 상품명 */
   }

   .orderItems th:nth-child(3),
   .orderItems td:nth-child(3) {
       width: 120px; /* 구매단가 */
   }

   .orderItems th:nth-child(4),
   .orderItems td:nth-child(4) {
       width: 80px;  /* 수량 */
   }

   .orderItems th:nth-child(5),
   .orderItems td:nth-child(5) {
       width: 150px; /* 총 금액 */
   }

   /* select, input 폭 고정 */
   .orderItems select,
   .orderItems input {
       width: 100% !important; /* 셀 폭에 맞춤 */
       box-sizing: border-box;
   }


    table.orderSummary td,
    table.orderItems td {
        text-align: center;
        vertical-align: middle;
    }

    .item-select,
    .count-input {
        cursor: pointer;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .btn-box{
        display: flex;
        justify-content: flex-end;
        gap:10px;
        margin: 20px 0;
    }
