<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin">
    <insert id="join" parameterType="Admin">
        INSERT INTO admin (adminName, loginId, loginPw, businessNumber)
        VALUES (#{adminName}, #{loginId}, #{loginPw}, #{businessNumber});
    </insert>
    <select id="login" resultType="Admin">
        SELECT * FROM admin WHERE loginId = #{loginId} AND loginPw = #{loginPw}
    </select>

    <select id="isJoinedById" resultType="Admin">
        SELECT * FROM admin WHERE loginId = #{email}
    </select>

    <delete id="deleteAdminById" parameterType="int">
        DELETE FROM admin WHERE adminId = #{adminId}
    </delete>

    <select id="checkId" resultType="String">
        SELECT loginId
        FROM admin
        WHERE loginId = #{loginId}
    </select>

    <update id="updateAdmin" parameterType="Admin">
        UPDATE admin
        SET adminName = #{adminName},
        loginId = #{loginId},
        loginPw = #{loginPw},
        businessNumber = #{businessNumber}
        WHERE adminId = #{adminId}
    </update>

    <!-- 추가: findById -->
    <select id="findById" parameterType="int" resultType="Admin">
        SELECT adminId, adminName, loginId, loginPw, businessNumber
        FROM admin
        WHERE adminId = #{adminId}
    </select>
</mapper>