<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Client">

    <resultMap id="ClientMap" type="com.spring.stockCast.dto.ClientDTO">
        <id     property="clientId"   column="clientId"/>
        <result property="storeId"    column="storeId"/>
        <result property="clientName" column="clientName"/>
    </resultMap>

    <select id="selectByStoreId" parameterType="int" resultMap="ClientMap">
        SELECT clientId, clientName, storeId
        FROM erp_db.client
        WHERE storeId = #{_parameter}
        AND status = '정상'
        ORDER BY clientName
    </select>

    <select id="countByStoreIdAndClientId" parameterType="map" resultType="int">
        SELECT COUNT(1)
        FROM erp_db.client
        WHERE storeId = #{storeId}
        AND clientId = #{clientId}
    </select>

    <select id="findBySaleId" parameterType="int" resultType="com.spring.stockCast.dto.ClientDTO">
        SELECT *
        FROM erp_db.client
        WHERE clientId = (SELECT clientId FROM erp_db.orderStmt WHERE orderId = #{id})
    </select>

    <select id="selectByAdminId" parameterType="int" resultType="com.spring.stockCast.dto.ClientDTO">
        SELECT * FROM erp_db.client
        WHERE adminId = #{adminId}
    </select>

    <update id="update" parameterType="com.spring.stockCast.dto.ClientDTO">
        UPDATE erp_db.client
        SET clientName = #{clientName},
        businessNumber = #{businessNumber},
        ceoName = #{ceoName},
        address = #{address},
        contact = #{contact},
        fax = #{fax},
        email = #{email},
        managerName = #{managerName},
        managerContact = #{managerContact},
        managerEmail = #{managerEmail},
        status = #{status},
        updatedAt = #{updatedAt},
        deletedAt = #{deletedAt}
        WHERE clientId = #{clientId}
    </update>

    <select id="selectByClientId" parameterType="int" resultType="com.spring.stockCast.dto.ClientDTO">
        SELECT * FROM erp_db.client
        WHERE clientId = #{clientId}
    </select>

    <insert id="insert" parameterType="com.spring.stockCast.dto.ClientDTO">
        INSERT INTO erp_db.client (
        adminId, storeId, clientName, businessNumber, ceoName, address, contact, fax, email,
        managerName, managerContact, managerEmail, status, createdAt, updatedAt, deletedAt
        ) VALUES (
        #{adminId}, #{storeId}, #{clientName}, #{businessNumber}, #{ceoName}, #{address}, #{contact}, #{fax}, #{email},
        #{managerName}, #{managerContact}, #{managerEmail}, #{status}, #{createdAt}, #{updatedAt}, #{deletedAt}
        )
    </insert>

    <update id="updateProductAndClient" parameterType="map">
        UPDATE erp_db.client_product
        SET clientId = #{clientId}
        WHERE productId = #{productId}
    </update>

    <insert id="addProductWithClient" parameterType="map">
        INSERT IGNORE INTO erp_db.client_product (clientId, productId)
        SELECT #{clientId}, p.productId
        FROM erp_db.product p
        WHERE p.productName = #{productName}
        ORDER BY p.productId
        LIMIT 1
    </insert>

    <select id="selectPagingByAdminId" parameterType="map" resultType="com.spring.stockCast.dto.ClientDTO">
        SELECT * FROM erp_db.client
        WHERE adminId = #{adminId}
        ORDER BY clientId ASC
        LIMIT #{start}, #{limit}
    </select>

    <select id="countByAdminId" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM erp_db.client
        WHERE adminId = #{adminId}
    </select>

    <select id="searchClientsWithPaging" parameterType="map" resultType="com.spring.stockCast.dto.ClientDTO">
        SELECT * FROM erp_db.client
        WHERE storeId = #{storeId}
        AND ( clientName LIKE CONCAT('%', #{keyword}, '%')
        OR ceoName   LIKE CONCAT('%', #{keyword}, '%')
        OR businessNumber LIKE CONCAT('%', #{keyword}, '%') )
        ORDER BY clientId ASC
        LIMIT #{start}, #{limit}
    </select>

    <select id="countClientsByKeyword" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM erp_db.client
        WHERE storeId = #{storeId}
        AND ( clientName LIKE CONCAT('%', #{keyword}, '%')
        OR ceoName   LIKE CONCAT('%', #{keyword}, '%')
        OR businessNumber LIKE CONCAT('%', #{keyword}, '%') )
    </select>


</mapper>
