<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Client">

    <resultMap id="clientProductMap" type="map">
        <result property="clientId" column="clientId"/>
        <result property="clientName" column="clientName"/>
        <result property="productId" column="productId"/>
        <result property="productName" column="productName"/>
        <result property="price" column="price"/>
    </resultMap>

    <!-- 모든 거래처 조회 -->
    <select id="selectAllClients" resultType="map">
        SELECT clientId, clientName
        FROM client
        ORDER BY clientName
    </select>

    <!-- 발주번호에 맞는 거래처 조회 ho -->
    <select id="findBySaleId" parameterType="int" resultType="Client">
        SELECT * FROM client
        WHERE clientId = (SELECT clientId FROM orderStmt WHERE orderId = #{id})
    </select>

    <select id="selectByAdminId" parameterType="int" resultType="Client">
        SELECT * FROM client
        WHERE adminId = #{adminId}
    </select>
</mapper>