<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Orders">
    <select id="findAll" parameterType="OrderStmt" resultType="OrderStmt">
        SELECT * FROM orderStmt ORDER BY orderId DESC
    </select>

    <select id="findByDateBetween" resultType="OrderStmt">
        SELECT * FROM orderStmt WHERE orderDate BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="findByNo" resultType="OrderStmt">
        SELECT * FROM orderStmt WHERE orderStmtId LIKE CONCAT('%', #{orderStmtId}, '%')
    </select>

</mapper>