<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Product">

    <resultMap id="productMap" type="map">
        <result property="id" column="productId"/>
        <result property="name" column="productName"/>
        <result property="price" column="price"/>
    </resultMap>

    <select id="selectAllProducts" resultMap="productMap">
        SELECT productId, productName, price
        FROM product
        ORDER BY productName
    </select>

    <select id="selectProductById" parameterType="int" resultMap="productMap">
        SELECT productId, productName, price
        FROM product
        WHERE productId = #{id}
    </select>

    <delete id="deleteProduct" parameterType="int">
        DELETE FROM product WHERE productId = #{id}
    </delete>

</mapper>