<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseOrder">

    <!-- 발주 상세 저장 -->
    <insert id="insertOrderDetail" parameterType="map">
        INSERT INTO purchaseOrder (
        orderId, productId, purchasePrice, purchaseQty
        )
        VALUES (
        #{orderId}, #{productId}, #{purchasePrice}, #{purchaseQty}
        )
    </insert>

</mapper>