<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseOrder">
<!-- 발주번호와 일치하는 거래명세서 내역 가져오기 ho -->
<select id="findById" parameterType="int" resultType="AccoList">
    SELECT o.orderId, o.orderDate, p.productName, s.purchaseQty, s.purchasePrice FROM  orderStmt o
    JOIN purchaseOrder s ON s.orderId = o.orderId
    JOIN product p ON s.productId = p.productId
    WHERE o.orderId = ${id}
</select>
</mapper>