<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Sale">
    <!-- 전체 판매내역 조회 ho -->
    <select id="findAll" resultType="Sale">
        SELECT s.*, sp.salePrice, sp.saleQty, pc.categoryName FROM sale s
        JOIN sale_product sp ON s.saleId = sp.saleId
        JOIN product p ON p.productId = sp.productId
        JOIN productcategory pc ON pc.categoryId = p.categoryId;
    </select>
    <!-- 날짜 범위안에 있는 판매 목록 표시 ho -->
    <select id="findByDateBetween" resultType="Sale">
        SELECT s.*, sp.salePrice, sp.saleQty, pc.categoryName FROM sale s
        JOIN sale_product sp ON s.saleId = sp.saleId
        JOIN product p ON p.productId = sp.productId
        JOIN productcategory pc ON pc.categoryId = p.categoryId
        WHERE s.saleDate BETWEEN #{startDate} AND #{endDate};
    </select>
    <!-- 선택한 년도에 해당하는 판매목록 표시 ho -->
    <select id="findByYear" parameterType="String" resultType="Sale">
        SELECT s.*, sp.salePrice, sp.saleQty, pc.categoryName FROM sale s
        JOIN sale_product sp ON s.saleId = sp.saleId
        JOIN product p ON p.productId = sp.productId
        JOIN productcategory pc ON pc.categoryId = p.categoryId
        WHERE SUBSTR(s.saleDate,1,4) = #{year}
        ORDER BY s.saleDate;
    </select>
    <!-- 판매기록이 있는 년도만 조회 ho -->
    <select id="findSaleYear" resultType="String">
        SELECT DISTINCT(SUBSTR(saleDate,1,4)) FROM sale
    </select>
</mapper>